{% extends "blog/base.html" %}

{% block content %}
    {% if wrong %}
        <p class="error">用户名或密码不符合规范</p>
    {% elif userexists %}
        <p class="error">用户名已存在</p>
    {% endif %}
    <form class="pure-form pure-form-stacked" action="{% url "blog_signupfun" %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>注册</legend>

        <label for="username">Username</label>
        <input id="username"  placeholder="用户名" name="username">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="密码" name="password">


        <button type="submit" class="pure-button pure-button-primary">注册</button>
    </fieldset>
</form>
{% endblock %}